.main {
    display: flex;
    justify-content: center; /* Centers the two main divs horizontally */
    align-items: center; /* Centers the two main divs vertically */
    width: 100%;
    margin: 0 auto; /* Centers the .main container itself within its parent */
    height: 100vh; /* Optional: ensures the .main container takes up the full height of the viewport */
}
.product-wrapper {
}

.product-container {
  height: 50%;

}

.product {
  padding-bottom: 250px;
}

.product-info-wrapper {

}
.product-carousel-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 950px; /* Set a maximum width for the carousel */
    margin: 2 auto; /* Center the carousel wrapper */
  }
  
  .product-carousel-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .product-container {
    padding-top: 10px;
  }
  
  .product-carousel-container img {
    width: 100%; /* Let the image take up the full width of its container */
  }
  
  .product-carousel-container > div {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel-button {
    width: 50px; /* Set the width of the preview button */
    height: 50px; /* Set the height of the preview button */
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    border: 1px solid grey; /* Add a 1px solid grey border */
    border-radius: 0; /* Ensure the buttons are not rounded */
    cursor: pointer;
    margin: 10px;
    flex-shrink: 0;
  }
  
  .carousel-buttons-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .carousel-buttons-wrapper .carousel-button {
    max-width: 50px; /* Control the size of the buttons */
    max-height: 50px;
    text-align: center;
  }
  